
.login-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
  }
  .mat-card {
    margin: 2rem;
  }
 
.full-width {
   width: 100%;
}

::ng-deep .mat-tab-labels{
  justify-content: center; /* align items in Main Axis */
}
