<div class="login-container">
  <div class="login-box">
    <img [src]="imgPath" />
        <mat-card *ngIf="currentState == 0">
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center">
              <form (ngSubmit)="submitEmail()">
                <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" name="email" [(ngModel)]="esModel.email" #email="ngModel"
                    required email>
                  <mat-icon matSuffix>email</mat-icon>

                  <mat-error *ngIf="!email.valid">
                    E-mail is required and should be in correct format
                  </mat-error>
                </mat-form-field>

                <div *ngIf="errorMessage.length > 0" style="color: red; margin-top: 20px">{{ errorMessage }} </div>

                <button color="primary" mat-raised-button style="margin-top: 20px; width: 100%" type="submit"> Send code
                </button>

              </form>
            </div>

            <div style="margin-top: 20px">
                <a [routerLink]="['/login']" >Back to login</a>
            </div>

          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="currentState == 1">
            <mat-card-content>
              <div fxLayout="column" fxLayoutAlign="center">
                <form (ngSubmit)="passwordRestore()">
                  <mat-form-field class="full-width">
                      <mat-label>Code</mat-label>
                      <input matInput placeholder="Code" name="code" [(ngModel)]="prModel.code" #code="ngModel"
                        required>

                      <mat-error *ngIf="!code.valid">
                        E-mail is required and should be in correct format
                      </mat-error>
                  </mat-form-field>

                  <mat-form-field>
                      <mat-label>Password</mat-label>
                      <input matInput type="password" placeholder="New password" name="password" [(ngModel)]="prModel.password" #password="ngModel"
                      required minlength=6>

                      <mat-error *ngIf="!password.valid">
                          Password is required and should be in correct format
                        </mat-error>
                  </mat-form-field>

                  <div *ngIf="errorMessage.length > 0" style="color: red; margin-top: 20px">{{ errorMessage }} </div>

                  <button color="primary" mat-raised-button style="margin-top: 20px; width: 100%" type="submit"> Verify
                  </button>

                </form>
              </div>

              <div style="margin-top: 20px">
                  <a [routerLink]="['/login']" >Back to login</a>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card *ngIf="currentState == 2">
              <mat-card-content>
                  <p>Password is successfully changed. Please log in using the new password</p>

                  <div style="margin-top: 20px">
                      <a mat-raised-button [routerLink]="['/login']" >Back to login</a>
                  </div>
              </mat-card-content>
            </mat-card>
  </div>
</div>
