:host {
  height:100%;
  display: flex;
  flex: 1;
}

.content {
  padding: 5px;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobile-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}



.list-item-selected {
    background-color: bisque;
  }
  .fa-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }

  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(359deg);
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
    }
  }
  @-o-keyframes spin {
    0% {
      -o-transform: rotate(0deg);
    }
    100% {
      -o-transform: rotate(359deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }

  .fab-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    > div {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 5px;

      button {
        margin-bottom: 17px;
      }
    }
  }

  .fab-toggler {
    float: right;
    z-index: 100;
  }

  .mce-tinymce {
    border-width: 0px !important;
  }

  input.mat-input-element {
    margin-left: 3px;
  }

  .toolbar-content-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .mat-search_icons {
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    &:hover {
      cursor: pointer;
    }
  }

  .mat-search_icon-close,
  .mat-search_icon-search {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 2;
    border-radius: 50%;
  }
  .mat-search_icon-close,
  .mat-search_icons--active .mat-search_icon-search {
    opacity: 0;
    transform: rotate(225deg);
  }
  .mat-search_icons--active .mat-search_icon-close {
    opacity: 1;
    z-index: 3;
    visibility: visible;
    transform: rotate(360deg);
  }

  .mat-search_field {
    z-index: 1;
    width:100%;
  }

  .icon-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
  }

  .note-icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  font-size: 32px;
  box-sizing: content-box;
  border-radius: 50%;
  padding: 4px;
}
